{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Varti</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/404.css' %}">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon_blue.png' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>
<div class="content_section">

	<div id="topNav">
		<a href="#" id="logoLeft"></a>
		<div id="topNavBlock">
			<a href="{% url 'blog:index' %}" class="topNavA">Главная</a>
			<a href="{% url 'blog:ProductList' %}" class="topNavA">Каталог</a>
			<a href="{% url 'blog:post_list' %}" class="topNavA">Статьи</a>
			<a href="#" class="topNavA">Кто мы?</a>
		</div>
	</div>
	<div id="left">
			<div id="devider_left"></div>
			<div id="picture_left"></div>
		</div>

	<div id="right">
			<h1 id="MainH1">Ой, не туда(</h1>
			<p id="run">БЕГИ! <span>ОШИБКА 404</span> БЕГИ!</p>
			<p id="MainP">Повседневная практика показывает, что постоянный количественный рост позволяет оценить значение модели развития. И еще немного слов для этого абзаца.</p>

			<div id="links">
				<a href="{% url 'blog:index' %}" class="buttonA">На главную</a>
				<a href="{% url 'blog:ProductList' %}" class="underlinedA">В каталог</a>
			</div>
			<div id="footer">
				<div id="contacts">
					<h2>Контакты</h2>
					<p>Hello@varti.co<br>
						Moskovskaya 5, Minsk, Belarus<br>
						+375 (25) 546-22-65</p>
				</div>
				<div id="social">
					<h2>Соц-сети</h2>
					<div id="socialL">
						<a href="#" class="socialA">Instagram</a><br>
						<a href="#" class="socialA">Facebook</a><br>
						<a href="#" class="socialA">Pinterest</a>
					</div>

					<div id="socialR">
						<a href="#" class="socialA">VK</a><br>
						<a href="#" class="socialA">Twitter</a><br>
						<a href="#" class="socialA">Odnoklasniki</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
</body>
</html>
