{% load staticfiles %}
<html>
  <head>
    <title>Varti</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  	{% block logo %}{% include "blog/ico.html" %}{% endblock %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <?php include_once("analyticstracking.php") ?>
    <div class="content_section">
    <div id="topNav">
      <a href="{% url 'blog:index' %}" id="logoLeft">
  			<img src="{% static 'images\60x60.png'%}">
  		</a>
  		<div id="topNavBlock">
  			<a href="{% url 'blog:index' %}" class="topNavA">Главная</a>
  			<a href="{% url 'blog:ProductList' %}" class="topNavA">Каталог</a>
  			<a href="{% url 'blog:post_list' %}" class="topNavA">Статьи</a>
  			<a href="{% url 'blog:about' %}" class="topNavA">Кто мы?</a>
  		</div>
  	</div>

        {% block content %}
        {% endblock %}




  </div>
  {% block footer %}
    {% include "blog/footer.html" %}
  {% endblock %}
  </body>
</html>
