
<div id="footer">
  <div id="contacts">
    <h2>Контакты</h2>
    <p>ИП Каратай А. И.<br>
      УНП 192657034<br>
    </p>

  </div>
  <div id="social">
    <h2>Соц-сети</h2>
    <div id="socialL">
      <a href="/media/files/oferta.docx" download class="socialA" title="Скачать">Публичная<br>оферта</a>

    </div>

    <div id="socialR">
      <a href="#" class="socialA" title="Вы можете связаться с нами по этому адресу">hello@varti.by</a><br>
      <a href="#" class="socialA">Varti 2017</a>
    </div>
  </div>
</div>
