
<footer class="page_footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text-color">Belarusian National Technical University</h5>
        <p class="grey-text text-lighten-4">Faculty of Information Technologies and Robotics</p>
        <p class="grey-text text-lighten-4">Information Technologies Software Support</p>
        <p class="grey-text text-lighten-4">Mark Blin</p>
      </div>
      <div class="col l2 offset-l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{% url 'blog:index' %}">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'blog:ProductList' %}">Catalog</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'blog:about' %}">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="container">
      © 2017 EL'Market All Rights Reserved
    </div>
  </div>
</footer>
