{% load staticfiles %}
{% load gtm_tags %}
<html>
	<head>
		{% gtm %}
		<title>Varti</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
		<link rel="shortcut icon" href="{% static 'images/favicon_blue.png' %}">
	</head>

	<body>
		<?php include_once("analyticstracking.php") ?>
		<div class="content_section">
			<div id="topNav">
				<a href="{% url 'blog:index' %}" id="logoLeft">
					<img src="{% static 'images\index\logo111.svg'%}">
				</a>
				<div id="topNavBlock">
					<a href="" class="topNavA navActive">Главная</a>
					<a href="{% url 'blog:ProductList' %}" class="topNavA">Каталог</a>
					<a href="{% url 'blog:post_list' %}" class="topNavA">Статьи</a>
					<a href="{% url 'blog:about' %}" class="topNavA">Кто мы?</a>
				</div>
			</div>

			<div id="left">
				<div id="devider_left"></div>
				<div id="picture_left"></div>
			</div>

			<div id="right">
				<h1 id="MainH1">Картины и постеры</h1>
				<p id="MainP">Цель Varti – сделать искусство доступным. У нас бесплатная доставка по РБ и скидка по предзаказу -54%.</p>
				<div id="links">
					<a href="{% url 'blog:ProductList' %}" class="buttonA">В каталог</a>
					<a href="#" class="underlinedA">В чем соль?</a>
				</div>

				{% block footer %}{% include "blog/footer.html" %}{% endblock %}

			</div>

		</div>
		</body>
	</html>
