{% extends 'blog/base_catalog.html' %}

{% load static %}

{% block title %}
  {% if category %} {{ category.name }} {% else %} Каталог {% endif %}
{% endblock %}


{% block content %}
<br>

<div id="topPriceAndDesc">
<p class="topPriceAndDesc">Скидка <span>60%</span> по предзаказу. <br>Предзаказ на 7 июня 2017 г. <br>
Осталось: <span>17</span> из <span>45</span></p>
<p class="topPriceAndDesc"><span>Картины</span>: <br>А3-100р | А2-120р | А1-140р<br><br></p>
<p class="topPriceAndDesc"><span>Постеры</span>: <br>А3-50р | А2-65р | А1-80р <br><br></p>
</div>
<h1>{% if category %}{{ category.name }}{% else %}{% endif %}</h1>
<div class="items row">
  {% for product in products %}
  <div id="catalogItemBlock1" class="catalogItemBlock">
    <a href="" class="catalogAuthor">{{ product.author }}</a><br>
    <a href="{{ product.get_absolute_url }}" class="catalogItem">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="catalogItem">
    </a>
    <p class="catalogItemName">{{ product.name }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
