{% load staticfiles %}
{% load gtm_tags %}
<html>
<head>
	{% gtm %}
	<title>Varti</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
 	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/blog_z.css' %}">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="shortcut icon" href="{% static 'images/logo.ico' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
<div class="content_section">

	<div id="topNav">
		<a href="{% url 'blog:index' %}" id="logoLeft">
			<img src="{% static 'images\60x60.png'%}">
		</a>
		<div id="topNavBlock">
			<a href="{% url 'blog:index' %}" class="topNavA">Главная</a>
			<a href="{% url 'blog:ProductList' %}" class="topNavA">Каталог</a>
			<a href="#" class="topNavA navActive">Статьи</a>
			<a href="{% url 'blog:about' %}" class="topNavA">Кто мы?</a>
		</div>
	</div>
			<div id="devider"></div>
			<div id="zaglushka">
			<h1 id="blog_zH1">Пока тут пусто, но скоро будет блог.</h1>
			<p>А пока тут ничего нет - можете заглянуть в наш каталог, уж там то полным полно всякой всячины. </p>
			<a href="{% url 'blog:ProductList' %}" class="buttonA">В каталог</a>
			</div>



	</div>
</div>
</body>
</html>
