{% extends "blog/base.html" %}
{% load widget_tweaks %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
  <h1>Оформление заказа</h1>
  <div class="col-sm-4">
    <h2>Заполните форму</h2>
    <form class="order-form" action="." method="post">
      {{ form.non_field_errors }}

      {{ form.first_name.errors }}
      {{ form.first_name.label_tag }}
      {{ form.first_name|add_class:"checkoutInput" }}

      {{ form.phone.errors }}
      {{ form.phone.label_tag }}
      {{ form.phone|add_class:"checkoutInput" }}

      {{ form.country.errors }}
      {{ form.country.label_tag }}
      {{ form.country|add_class:"checkoutInput" }}

      {{ form.area.errors }}
      {{ form.area.label_tag }}
      {{ form.area|add_class:"checkoutInput" }}

      {{ form.city.errors }}
      {{ form.city.label_tag }}
      {{ form.city|add_class:"checkoutInput" }}

      {{ form.street.errors }}
      {{ form.street.label_tag }}
      {{ form.street|add_class:"checkoutInput" }}

      {{ form.home.errors }}
      {{ form.home.label_tag }}
      {{ form.home|add_class:"checkoutInput" }}

      {{ form.korpus.errors }}
      {{ form.korpus.label_tag }}
      {{ form.korpus|add_class:"checkoutInput" }}

      {{ form.flat.errors }}
      {{ form.flat.label_tag }}
      {{ form.flat|add_class:"checkoutInput" }}



      
      {% csrf_token %}
      <input type="submit" id="preorderButton" value="Сделать предзаказ">
			<label id="preorderButtonLabel" for="preorderButton">
				Сделать предзаказ
			</label>
    </form>
  </div>

  <div class="order-info col-sm-8">
    <h2>Ваш заказ</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Количество: {{ item.quantity }} | Цена: {{ item.total_price }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
