/*TEXT SMOOTHING (?)*/
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
font:16px "Open sans";
-webkit-overflow-scrolling: touch;

		overflow-x: hidden;
		min-width: 300px;
}

::selection {
    color: #fff;
    background: #2164f4;
}

body::-webkit-scrollbar {
    width: 5px;
}


body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #2164f4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4781ff;
}
body::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.1);
}

.content_section{
	width: 1280px;
	margin: 0 auto;
}

#logoLeft{
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  margin:10px 100px;
  background: url(img/index/logo111.svg);
  background-size: 150%;
  background-position: center;
}

#topNav{
  width: inherit;
  height: 90px;
  background: rgba(255,255,255,.95);
  position: fixed;
  z-index: 4;
}

#topNav::before{
  content:'';
  width: 100%;
  position: absolute;
  top: 90px;
  height: 1px;
  background: rgba(0,0,0,.08);
}
#topNavBlock{
  width: 330px;
  height: 19px;
  float: right;
  margin: 35px 100px 35px 0;
}
#topNavBlock:hover .topNavA:not(:hover){
  color: rgba(0,0,0,.4);
  transition: .2s;
}
.topNavA{
  display: inline-block;
  margin: 0 32px 0 0;
  text-align: center;
  width: 55px;
  font:14px "Open sans";
  font-weight: 400;
  text-decoration: none;
  color: rgba(0,0,0,.7);
  transition: .2s;
}
.topNavA:last-child{
  margin-right: 0;
}
.topNavA:hover{
  color: rgba(0,0,0,1);
}
.navActive::before{
  content:'';
  width: 55px;
  position: absolute;
  top: 60px;
  height: 2px;
  background: #4781ff;
}

#AboutH1{
  margin:  0 auto 300px auto;
  padding-top: 391px;
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  color: rgba(0,0,0,.9);

}
#pointsBlock{
  display: block;
  width: 100%;
  height: 250px;
}
.pointInside{
  display: inline-block;
  width: 400px;
  float: left;
  height: 250px;
  margin-right: 40px;
}
.pointInside:last-child{
  margin-right: 0;
}
.pointH2{
  font-size: 28px;
  font-weight: 600;
  color: rgba(0,0,0,.9);
  text-align: center;
}
.pointP{
  width: 350px;
  margin: 50px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0,0,0,.8);
  text-align: center;
}
#smallStoryBlock{
  width: 600px;
  height: 550px;
  margin: 150px auto;
}
#smallStoryH2{
  font-size: 28px;
  font-weight: 600;
  color: rgba(0,0,0,.9);
  text-align: center;
  margin-bottom: 50px;
}
#smallStoryBlock p{
  width: 550px;
  margin: 0 auto 30px auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0,0,0,.8);
  text-align: center;
}


#TeamMembers{
  width: 100%;
  height: 500px;
}
.memberName{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0,0,0,.9);
  text-align: center;
  margin-bottom: 20px;
}
.memberPhoto{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #fdd;
  background-size: cover;
}


.memberBlock{
  display: inline-block;
  width: 400px;
  float: left;
  height: 530px;
  margin-right: 40px;
}
.memberBlock:last-child{
  margin-right: 0;
}
.memberJob{
  text-align: center;
  color: #2164f4;
  font-weight: 600;
  font-size: 14px;
  margin:25px auto 25px auto;
}
.memberCharacteristic{
  width: 300px;
  margin: 0 auto 0 auto;
  display: block;
}
.charName{
  width: 140px;
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.7);
  padding-bottom: 10px;
}
.charDesc{
  width: 140px;
  float: right;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  font-style:italic;
  color: rgba(0,0,0,.7);
  padding-bottom: 10px;
}





#footer{
  width: 440px;
  height: 180px;
  margin-left: 640px;
}
#contacts{
  width: 220px;
  float: left;
}
#contacts h2{
  font-size: 18px;
  color: rgba(0,0,0,.9);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}
#contacts p{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.8);
  line-height: 25px;
}

#social{
  width: 200px;
  margin-left:20px;
  float: left;
}
#socialL, #socialR{
  width: 100px;
  float: left;
}
#social h2{
  font-size: 18px;
  color: rgba(0,0,0,.9);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}
.socialA{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.5);
  line-height: 25px;
}
.socialA:hover{
  font-weight: 400;
  color: #2164f4;
  line-height: 25px;
}

#toCatalog{
  width: 100%;
  height: 145px;
  padding-top: 55px;
  margin: 30px auto;
  background: url(http://s48.radikal.ru/i122/1704/b7/646803b0309c.jpg);
  background-position: center;
  background-size: cover;
}

.buttonA{
  display: block;
  margin: 0 auto;
  color: #fff;
  padding-top: 14px;
  width: 150px;
  height: 26px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #2164f4;
  transition: .2s;
  border-radius: 3px;
}
.buttonA:hover{
  background: #4781ff;
  transition: .2s;
}


@media screen and (max-width: 1290px){

  #footer{
  margin-left: 100px;
  position: relative;
  top: 100px;
  }
  #MainH1{
  margin: 175px auto 0 auto;}

.content_section{
  width: 100%;
  margin: 0 auto;
}

#topNav{
  width: 100vw;
  height: 90px;
  background: rgba(255,255,255,.95);
  position: fixed;
  z-index: 4;
}


#links{
  width: inherit;
  height: 100px;
    position: relative;
    top: 50px;
  margin: 0 auto;
}

#footer{
  width: 460px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

#contacts{
  width: calc(50%-20px);
  padding:0 10px 0 10px;
  float: left;
  display: inline-block;
}

#social{
  width: calc(50%-20px);
  padding:0 10px 0 10px;
  margin: 0;
  float: left;
  display: inline-block;
}

#socialL, #socialR{
  width: 50%;
  float: left;
}




#AboutH1{
  margin:  0 auto 200px auto;
  padding-top: 291px;
}



#pointsBlock{
  width: 840px;
  height: 540px;
  margin: 0 auto;
}

.pointInside:nth-child(2){
  margin-right: 0;
}

.pointInside:last-child{
  margin: 40px 220px 0 220px;}




#TeamMembers{
  width: 840px;
  height: 1040px;
  margin: 0 auto;
}
.memberBlock{
  height: 500px;
}
.memberBlock:nth-child(2){
  margin-right: 0;
}
.memberBlock:last-child{
  margin: 40px 220px 0 220px;
}
}


@media screen and (max-width: 840px){

#pointsBlock{
  width: 400px;
  height: 830px;
  margin: 0 auto;
}

.pointInside{
  margin:0;
}

.pointInside:nth-child(2){
  margin: 40px 0 0 0;
}

.pointInside:last-child{
  margin: 40px 0 0 0;}





#TeamMembers{
  width: 400px;
  height: 1580px;
  margin: 0 auto;
}
.memberBlock{
  height: 500px;
  margin: 0;
}
.memberBlock:nth-child(2){
  margin: 40px 0 0 0;
}
.memberBlock:last-child{
  margin: 40px 0 0 0;
}
}




@media screen and (max-width: 710px){

#topNav{
  width: inherit;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 4;
}

#topNav::before{
  content:'';
  width: 100%;
  position: absolute;
  top: -1px;
  height: 1px;
  background: rgba(0,0,0,.08);
}
#topNavBlock{
  width: 265px;
  height: 34px;
  float: none;
  margin: 0 auto 0 auto;
}
#topNavBlock:hover .topNavA:not(:hover){
  color: rgba(0,0,0,.4);
  transition: .2s;
}

.topNavA{
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  width: 55px;
  font:14px "Open sans";
  font-weight: 400;
  text-decoration: none;
  color: rgba(0,0,0,.7);
  transition: .2s;
  padding:15px 0 15px 0;
}
.topNavA:last-child{
  margin-right: 0;
}
.topNavA:hover{
  color: rgba(0,0,0,1);
}
.navActive::before{
  top: 40px;
}

#logoLeft{
  display: block;
  width: 0;
  height: 0;
  float: left;
  margin:0;
  background: none;
  visibility: none;
}


#AboutH1{
  margin:  150px auto 150px auto;
  padding-top: 0;
  width: 400px;
  line-height: 70px;
}



#smallStoryBlock{
  width: 100%;
  height: inherit;
  margin: 150px auto;
}
#smallStoryH2{
  width: calc(100% - 100px);
  margin: 0 auto 50px auto;
}
#smallStoryBlock p{
  width: calc(100% - 100px);
  margin: 0 auto 30px auto;
}





#footer{
    width: 210px;
    height: 290px;
    margin-bottom: 50px;
  }
  #contacts, #social{
    width: 210px;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 0;
  }
#footer div h2,p{
  text-align: center;
}
#loaderLogo{
  margin: 50px auto;
}

#social{
  margin: 0 auto;
  display: block;
  padding: 0;
}

#socialL, #socialR{
  width: 50%;
  float: left;
  display: block;
  text-align: center;
}
#socialL br, #socialR br{
  visibility: hidden;
}
#social h2{
  visibility: hidden;
  margin: 0 0 10px 0;
}
.socialA{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.5);
  line-height: 25px;
}
.charName{text-align: left;}
}




@media screen and (max-width: 500px){


#AboutH1{
  margin:  100px auto 100px auto;
  width: calc(100vw - 100px);
  min-width: 220px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: rgba(0,0,0,.9);

}

#pointsBlock{
  width: 100vw;
  height: inherit;
  margin: 0 auto;
}

.pointInside p{
  width: calc(100vw - 50px);
  margin-bottom: 30px;
}
.pointInside h2{
  width: calc(100vw - 50px);
  margin: 0 auto;
  font-size: 24px;
}

.pointInside{
  width: 100vw;
  height: inherit;
}

.pointInside:last-child{
  margin-bottom: 150px;
}




#smallStoryH2{
  font-size: 24px;
}



#TeamMembers{
  width: 100vw;
  height: inherit;
}
.memberPhoto{
  width: calc(100vw - 200px);
  min-width: 200px;
  min-height: 200px;
  height: calc(100vw - 200px);
}


.memberBlock{
  display: inline-block;
  width: 100vw;
  float: none;
  height: calc(100vw + 20px);
  min-height: 400px;
}
.memberBlock:last-child{
  margin-right: 0;
}
.memberCharacteristic{
  width: 200px;
  min-height: 40px;
}
.charName{
  width: 100px;
}
.charDesc{
  width: 100px;
}

}
