/*TEXT SMOOTHING (?)*/
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
height: inherit;
font:16px "Open sans";
-webkit-overflow-scrolling: touch;

		overflow-x: hidden;
		min-width: 300px;
}

::selection {
    color: #fff;
    background: #2164f4;
}

body::-webkit-scrollbar {
    width: 5px;
}


body::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar-thumb {
  background-color: #2164f4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4781ff;
}
body::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.1);
}

input[type="radio"] {
	display: none;
}


.content_section{
	width: 1280px;
	margin: 0 auto;
}
#left{
	display: inline-block;
	height: auto;
	width: 640px;
	float: left;
  margin-top: 90px;
}




.sticky {
  position: fixed;
  top: 150px;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.stop {
  position: relative;
  top:  calc(100% - 680px);
}










#devider_left{
	display: block;
  width: 100%;
  height: 150px;
}

#PictureDesc span{
color: #2164f4;
font-size: 20px;
}

#pictureWithPrice{
	width: 640px;
	height: 600px;
	margin: 0 auto;
  position: inherit;
}
#mainPicture{
  display: block;
  width: 640px;
  height: 600px;
  overflow: hidden;}

#mainPicture img{
  width:100%;
  position: relative;
  left:0;
  top:0;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}

#mainPicture img:hover{
  width:150%;
  left:-25%;
  top:-25%;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#mainPicture:hover{

	background-size: 150%;
	transition: .5s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}


#logoLeft{
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	margin:10px 100px;
	background: url(img/index/logo111.svg);
	background-size: 150%;
	background-position: center;
}
#right{
	display: inline-block;
	height: inherit;
	width: 640px;
	float: right;
  top: 90px;
	right: 0;
	position: relative;
}

#topNav{
	width: inherit;
	height: 90px;
	background: rgba(255,255,255,.95);
	position: fixed;
	z-index: 4;
}

#topNav::before{
	content:'';
	width: 100%;
	position: absolute;
	top: 90px;
	height: 1px;
	background: rgba(0,0,0,.08);
}
#topNavBlock{
	width: 330px;
	height: 19px;
	float: right;
	margin: 35px 100px 35px 0;
}
#topNavBlock:hover .topNavA:not(:hover){
	color: rgba(0,0,0,.4);
	transition: .2s;
}
.topNavA{
	display: inline-block;
	margin: 0 32px 0 0;
	text-align: center;
	width: 55px;
	font:14px "Open sans";
	font-weight: 400;
	text-decoration: none;
	color: rgba(0,0,0,.7);
	transition: .2s;
}
.topNavA:last-child{
	margin-right: 0;
}
.topNavA:hover{
	color: rgba(0,0,0,1);
}
.navActive::before{
	content:'';
	width: 55px;
	position: absolute;
	top: 60px;
	height: 2px;
	background: #4781ff;
}
#PictureName{
	margin: 30px auto 0 auto;
	width: 440px;
	font:28px "Open sans";
	font-weight: 600;
	text-align: center;
	color: rgba(0,0,0,.9);
}

#year{
	font-size:14px;
	width: 140px;
	margin: 0 auto 0 auto;
	color: rgba(0,0,0,.4);
	text-align:center;
	line-height: 30px;
}

#PictureDesc{
	font-size:16px;
	width: 420px;
	margin: 75px auto 0 auto;
	color: rgba(0,0,0,.7);
	text-align:center;
	line-height: 30px;
}

#authorAndRubric{
	margin: 10vh auto 0 auto;
	text-align: center;
	font-weight: 400;
	color: rgba(0,0,0,.7);


}
#authorAndRubric a{
  color: #2164f4;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}
#authorAndRubric a:hover{
  color: #4781ff;
}

#pictureDetails{
	width: 640px;
	height: 1100px;
}
#detailsH2{
	font-size:28px;
	width: 420px;
	margin: 250px auto 0 auto;
	font-weight: 600;
	text-align:center;
	line-height: 30px;
}
.detailsInnerH2{
	font-size:18px;
	text-transform: uppercase;
	margin: 50px auto 0 auto;
	font-weight: 600;
	text-align:center;
	line-height: 30px;
}
#formatBlock{
	width: 440px;
	height: 40px;
	margin: 20px auto;
}
select{
  height: 40px;
  padding-left: 25px;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0,0,0,.1);
  font-size: 14px;
  color: rgba(0,0,0,.5);
  font-weight: 400;
  display:block;
}
select:hover{
  color: rgba(0,0,0,.7);
}
#formatBlock select{
  width: 175px;
  margin: 0 auto;
}




#sizeBlock{
	width: 640px;
}
#orientation{
	width: 65px;
	height: 30px;
	margin:20px auto;
}
#sizeBlock select{
  margin: 20px auto;
  width: 175px;
}






#attachBlock{
	width: 470px;
	height: 40px;
	margin: 20px auto;
}
#attachBlock select{
  margin: 0 auto;
  width: 225px;

}

.inputBlock{
  display: block;
  margin: 50px auto;
  width: 225px;
  height: 45px;
}

.personalInput{
  width: 200px;
  height: 40px;
  display: inline-block;
  padding-left: 25px;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0,0,0,.1);
  font-size: 14px;
  color: rgba(0,0,0,.7);
  font-weight: 400;
  z-index: 4;
}

.personalLabel{
  display: inline-block;
  position: relative;
  left: 0;
  opacity: 1;
  top: -55px;
  font-size: 11px;
  color: rgba(0,0,0,.5);
  font-weight: 400;
  width: 200px;
  height: 20px;
  z-index: 1;
}


.preorderP{
	width: 250px;
	font-size: 14px;
	color: rgba(0,0,0,.7);
	text-align: center;
	margin: 75px auto 10px auto;
}

#submitButtons{
	width: 200px;
	height: 40px;
	margin: 25px auto 10px auto;
}
#submitButtons input[type="submit"]{
	display: none;
}
.submitButtonLabel{
	display: inline-block;
	font-weight: 800;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

#submitButtons label[for="buttonBuy"]{
	float: left;
	color: #fff;
	background: #2164f4;
	height: 26px;
	width: 200px;
	padding-top: 14px;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
#submitButtons label[for="buttonBuy"]:hover{
	background: #4781ff;
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(71,129,255,.4);
	text-shadow: 0 0 10px rgba(255,255,255,.2);
	transition: .2s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
#submitButtons label[for="buttonBusket"]{
 	float: right;
	background: #fff;
	color: #2164f4;
	height: 24px;
	width: 146px;
	padding-top: 12px;
	border: 2px solid #2164f4;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
#submitButtons label[for="buttonBusket"]:hover{
	background: #4781ff;
	color: #fff;
	border: 2px solid #4781ff;
	box-shadow: 0 10px 20px rgba(71,129,255,.4);
	text-shadow: 0 0 10px rgba(255,255,255,.2);
	transition: .2s;
	cursor: pointer;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}




.buttonA:hover{
	background: #4781ff;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	text-shadow: 0 0 10px rgba(255,255,255,.2);
	transition: .2s;
}




#recomendations{
	position: relative;
	top: 100px;
	float: left;
	width: 1280px;
	height: 710px;
	margin: 0 auto;
}


#recomTitle{
	width: 400px;
	height: 200px;
	background: #fdd;
	margin: 0 auto;
}
.recomItemBlock{
  display: block;
  width: 400px;
  height: 530px;
  float: left;
  margin-right: 40px;
}

.recomItemBlock:last-child{
  margin: 0;
}
.recomAuthor{
  color: #2164f4;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.recomAuthor:hover{
  color: #4781ff;}
.recomItem{
  width: 400px;
  height: 400px;
  display: block;
  background: #fee;
  background-size: 100%;
  margin: 10px 0 20px 0;
  background-position: center;
  background-repeat: no-repeat;
}
.recomItem:hover{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 110%;
  cursor: pointer;
}

.recomItemName{
  text-align: center;
  width: 350px;
  margin:0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}


#recomItemBlock1 .recomItem {background: url(img/catalog/1.jpg);}
#recomItemBlock2 .recomItem {background: url(img/catalog/2.jpg);}
#recomItemBlock3 .recomItem {background: url(img/catalog/3.jpg);}

#recomItemBlock1 .recomItem, #recomItemBlock2 .recomItem, #recomItemBlock3 .recomItem{
	background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}
#recomItemBlock1 .recomItem:hover, #recomItemBlock2 .recomItem:hover, #recomItemBlock3 .recomItem:hover{
	background-size: 110%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#recomendatioRadios{
	width: 225px;
	height: 40px;
	margin: 30px auto;
}
.recomBlock{
	width: 100px;
	float: left;
	color: rgba(0,0,0,.4);
	text-align: center;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.recomBlock:first-child{
	margin-right: 25px;
}
.recomBlock p:hover{
	color: rgba(0,0,0,.7);
	cursor: pointer;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.recomLabel p:before{
	content:'';
	display: block;
	width: 50px;
	height: 2px;
	margin: 0 auto;
	position: relative;
	top: 30px;
	background: #2164f4;
	opacity: 0;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.recomBlock input[type="radio"]:checked + .recomLabel p{
	color: rgba(0,0,0,.9);
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.recomBlock input[type="radio"]:checked + .recomLabel p:before{
	opacity: 1;
	transition: .3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}








#footer{
	display: block;
	position: relative;
	top: 150px;
	float: right;
	width: 440px;
	height: 180px;
	margin-right: 200px;
}
#contacts{
	width: 220px;
	float: left;
}
#contacts h2{
	font-size: 18px;
	color: rgba(0,0,0,.9);
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 50px;
}
#contacts p{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.8);
	line-height: 25px;
}

#social{
	width: 200px;
	margin-left:20px;
	float: left;
}
#socialL, #socialR{
	width: 100px;
	float: left;
}
#social h2{
	font-size: 18px;
	color: rgba(0,0,0,.9);
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 50px;
}
.socialA{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.5);
	line-height: 25px;
}
.socialA:hover{
	font-weight: 400;
	color: #2164f4;
	line-height: 25px;
}




/*================MEDIA=================*/



@media screen and (max-height: 840px){

#pictureWithPrice{
	height: 480px;
}
#mainPicture{
	height: 400px;
}
.sticky {
  top: 150px;
}
.stop {
  top:  calc(100% - 480px);
}
}



/*=========================max-width: 1290px=======================*/




@media screen and (max-width: 1290px){

#left{
	height: auto;
}
.sticky {
  position: fixed;
  top: 150px;
  left: calc(25% - 225px);
	transition: none;
}
.stop {
  position: relative;
  top:  calc(100% - 480px);
}
	#pictureWithPrice{
	width: 450px;
	height: 480px;
	margin: 0 auto;
	}
	#mainPicture{
		width: 100%;
	height: 400px;
	}


.content_section{
	width: 100%;
	margin: 0 auto;
}
#left, #right{
	width: 50%;
}
#topNav{
	width: 100vw;
	height: 90px;
	background: rgba(255,255,255,.95);
	position: fixed;
	z-index: 4;
}


#footer{
	width: 300px;
	height: 250px;
  margin-right: calc(50% - 160px);
  position: relative;
  top: 150px;
}

#contacts{
	width: inherit;
	float: none;
	display: block;
	margin: 0 auto;
	padding: 0;
}


#contacts h2{
	text-align: center;
	margin-bottom: 25px;
}
#contacts p{
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	color: rgba(0,0,0,.8);
	line-height: 25px;
}


#social{
	width: inherit;
	margin: 0 auto;
	float: none;
	display: block;
	padding: 0;
}

#socialL, #socialR{
	width: 50%;
	float: left;
	display: block;
	text-align: center;
}
#socialL br, #socialR br{
	visibility: hidden;
}
#social h2{
	visibility: hidden;
	margin: 0 0 10px 0;
}
.socialA{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.5);
	line-height: 25px;
}






#authorAndRubric{
	width: calc(100% - 40px);
	margin: 150px auto 0 auto;
}
#pictureDetails{
	width: 100%;
}

#sizeBlock{
	width: 100%;
}





  #recomendations{
  width: 960px;
	height: 610px;
  margin: 0 auto;
  left: calc(50vw - 480px);
}


.recomItemBlock{
  width: 300px;
  height: 420px;
  margin-right: 30px;
}

.recomItemBlock:last-child{
  margin: 0 0 20px 0 ;
}

.recomAuthor{
  font-size: 13px;
}
.recomItem{
  width: 300px;
  height: 300px;
}

.recomItemName{
  text-align: center;
  width: 250px;
  margin:0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
}


/*========================max-width: 1000px==========================*/


@media screen and (max-width: 1000px){

#left{
	height: auto;
}
#pictureWithPrice{
	width: 350px;
	height: 480px;
	margin: 0 auto;
	}
	#mainPicture{
		width: 100%;
	height: 400px;
	}




.sticky {
  left: calc(25% - 175px);
}



#authorAndRubric{
	width: calc(100% - 40px);
	margin: 150px auto 0 auto;
}
#pictureDetails{
	width: 100%;
}

#sizeBlock{
	width: 100%;
}



#formatBlock{
	width: 270px;
	height: 40px;
	margin: 20px auto;
}






#attachBlock{
	width: 225px;
	height: 40px;
	margin: 20px auto;
}







#PictureDesc{
	width: 350px;
}

#PictureName{
	width: 350px;
}
#detailsH2{
	width: 350px;
	margin: 150px auto 0 auto;
}




 #recomendations{
  width: 630px;
	height: 1060px;
  margin: 0 auto;
  left: calc(50vw - 305px);
}

.recomItemBlock:last-child{
  margin: 20px 0 20px 165px ;
}
.recomItemBlock:nth-child(4){
  margin: 0 0 20px 0 ;
}

}



@media screen and (max-width: 750px){

#footer{
	height: 300px;}
#topNav{
	width: inherit;
	height: 50px;
	position: fixed;
	bottom: 0;
	z-index: 4;
}

#topNav::before{
	content:'';
	width: 100%;
	position: absolute;
	top: -1px;
	height: 1px;
	background: rgba(0,0,0,.08);
}
#topNavBlock{
	width: 265px;
	height: 34px;
	float: none;
	margin: 0 auto 0 auto;
}
#topNavBlock:hover .topNavA:not(:hover){
	color: rgba(0,0,0,.4);
	transition: .2s;
}

.topNavA{
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: center;
	width: 55px;
	font:14px "Open sans";
	font-weight: 400;
	text-decoration: none;
	color: rgba(0,0,0,.7);
	transition: .2s;
	padding:15px 0 15px 0;
}
.topNavA:last-child{
	margin-right: 0;
}
.topNavA:hover{
	color: rgba(0,0,0,1);
}
.navActive::before{
	top: 40px;
}

#logoLeft{
	display: block;
	width: 0;
	height: 0;
	float: left;
	margin:0;
	background: none;
	visibility: none;
}

#left, #right{
	width: 100%;
}
#left{
	height: auto;
	max-height: 440px;
}
#pictureWithPrice{
	position: relative;
	width: calc(100vw - 40px);
	margin: 0;
	left: 20px;
	top: 20px;
	height: calc(100vw - 40px);
	max-height: 400px;
}
#mainPicture{
	background-position: top;
}
#picturePrice{
	display: none;
}
#authorAndRubric{
	margin: 20px auto 0 auto;
}
}


@media screen and (max-width: 750px){
#videoLinkDesc::before{
	content: '���� �������:';
	position: relative;
	top: 100px;
	text-align: center;
	display: block;
	width: 200px;
	height: 20px;
	margin: 0 auto 0 auto;
	font-weight: 400;
	font-size: 16px;
}
#submitButtons::before{
	content: '67 �.';
	text-align: center;
	display: block;
	width: 100px;
	height: 50px;
	margin: 0 auto 20px auto;
	font-weight: 400;
	font-size: 40px;
}
 #recomendations{
  width: 350px;
	height: 1460px;
  margin: 0 auto;
  left: calc(50vw - 175px);
}

.recomItemBlock:nth-child(3){
  margin: 0 0 0 25px ;
}
.recomItemBlock:last-child{
  margin: 20px 0 0 25px ;
}
.recomItemBlock:nth-child(4){
  margin: 20px 0 0 25px ;
}
}


@media screen and (max-width: 400px){
 #recomendations{
  width: calc(100vw - 40px);
  padding: 20px;
	height: calc(300vw + 230px);
  margin: 0;
  left: 0;
}
.recomItem{
	width: calc(100vw - 80px);
	height: calc(100vw - 80px);
margin: 0 auto;}


.recomAuthor{
	margin-left: 20px;
}


.recomItemBlock:nth-child(3){
	width: 100%;
	height: calc(100vw);
  margin: 0;
}
.recomItemBlock:last-child{
	width: 100%;
	height: calc(100vw);
  margin: 20px 0 0 0 ;
}
.recomItemBlock:nth-child(4){
	width: 100%;
	height: calc(100vw);
  margin: 20px 0 0 0 ;
}

.recomItemName{
  text-align: center;
	width: calc(100vw - 80px);
  margin:0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}


#submitButtons{
	width: 200px;
	height: 40px;
}
#submitButtons input[type="submit"]{
	display: none;
}

#submitButtons label[for="buttonBusket"]{
 	float: left;
 	margin-top: 20px;
}


#videoLink{
 	width: calc(100vw);
	height: 90px;
	background: url(img/attachVideoPreview.jpg);
	background-size: 100%;
	transition: .3s;
	background-repeat: no-repeat;
	margin: 20px auto;
	cursor: pointer;
}
#videoLinkDesc{
	width: 210px;
	text-align: center;
	margin: 20px auto;
	color: rgba(0,0,0,.7);
	font-size: 16px;
	font-weight: 400;
}


#PictureName{
	width: calc(100vw - 40px);
}
#PictureDesc{
	width: calc(100vw - 40px);
	margin: 25px auto 0 auto;
}
#detailsH2{
	width: calc(100vw - 40px);
}




#exactSize{
	width: 206px;
	margin: 20px auto;
	height: 400px;
}
.exactSizeBlock:first-child{
	margin-right: 20px;
}
.exactSizeBlock:nth-child(2){
	margin-right: 0;
}
.exactSizeBlock:nth-child(3){
	margin: 15px 20px 0 0;
}
.exactSizeBlock:nth-child(4){
	margin: 15px 0 0 0;
}
.exactSizeBlock:last-child{
	margin: 15px 0 0 58px;
}




}
