{% load staticfiles %}
/*TEXT SMOOTHING (?)*/
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
height: calc(100vh + 255px);
font:16px "Open sans";
-webkit-overflow-scrolling: touch;

		overflow-x: hidden;
		min-width: 300px;
}

::selection {
    color: #fff;
    background: #2164f4;
}

body::-webkit-scrollbar {
    width: 5px;
}


body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #2164f4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4781ff;
}
body::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.1);
}

.content_section{
	width: 1280px;
	margin: 0 auto;
}
#left{
	display: inline-block;
	height: 100vh+255px;
	width: 640px;
	float: left;
}
#devider_left{
	display: block;
width: 100%;
height: 150px;

}
#picture_left{
	display: block;
	width: 100%;
	height: 700px;
	background:url(http://s015.radikal.ru/i332/1709/a1/91b7e50f5169.png);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}


#logoLeft{
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	margin:10px 100px;
	background: url();
	background-size: 100%;
	background-position: center;
}
#right{
	display: inline-block;
	height: calc(100vh + 255px);
	width: 640px;
}

#topNav{
	width: inherit;
	height: 90px;
	background: rgba(255,255,255,.95);
	position: fixed;
	z-index: 4;
}

#topNav::before{
	content:'';
	width: 100%;
	position: absolute;
	top: 90px;
	height: 1px;
	background: rgba(0,0,0,.08);
}
#topNavBlock{
	width: 330px;
	height: 19px;
	float: right;
	margin: 35px 100px 35px 0;
}
#topNavBlock:hover .topNavA:not(:hover){
	color: rgba(0,0,0,.4);
	transition: .2s;
}
.topNavA{
	display: inline-block;
	margin: 0 32px 0 0;
	text-align: center;
	width: 55px;
	font:14px "Open sans";
	font-weight: 400;
	text-decoration: none;
	color: rgba(0,0,0,.7);
	transition: .2s;
}
.topNavA:last-child{
	margin-right: 0;
}
.topNavA:hover{
	color: rgba(0,0,0,1);
}
.navActive::before{
	content:'';
	width: 55px;
	position: absolute;
	top: 60px;
	height: 2px;
	background: #4781ff;
}
#MainH1{
	margin: 25vh auto 0 auto;
	width: 440px;
	font:38px "Open sans";
	text-align: center;
	color: rgba(0,0,0,.9);
}
#MainP{
	font-size:18px;
	width: 420px;
	margin: 75px auto 0 auto;
	color: rgba(0,0,0,.4);
	text-align:center;
	line-height: 30px;
}
#production{
	width: 373px;
	margin: 35px auto 0 auto;
}
#production figure{
	width: 70px;
	margin: 0 10px;
	display: inline-block;
}
#production figure figcaption{
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	color: rgba(0,0,0,.7);
}
.figImg{
	width: 70px;
	height: 70px;
	opacity: .8;
}
#figImg1{
	background: url(http://s018.radikal.ru/i527/1702/89/825a2844e52a.png);
}
#figImg2{
	background: url(http://s018.radikal.ru/i511/1702/1e/9c877ad25df4.png);
}
#figImg3{
	background: url(http://s020.radikal.ru/i710/1702/c3/537ac51106ad.png);
}
#figImg4{
	background: url(http://s019.radikal.ru/i635/1702/45/3f4c035cba86.png);
}
#links{
	width: 640px;
	height: 100px;
	position: absolute;
	top: calc(100vh - 100px);
	margin: 0 auto;
}
.buttonA{
	display: block;
	margin: 0 auto;
	color: #fff;
	padding-top: 14px;
	width: 150px;
	height: 26px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: #2164f4;
	transition: .2s;
	border-radius: 3px;
}
.buttonA:hover{
	background: #4781ff;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	text-shadow: 0 0 10px rgba(255,255,255,.2);
	transition: .2s;
}
.underlinedA{
	display: block;
	width: 74px;
	margin: 25px auto 0 auto;
	color: rgba(0,0,0,.5);
	font-size: 12px;
	text-align: center;
}

.underlinedA:hover{
	display: block;
	margin: 25px auto 0 auto;
	color: rgba(0,0,0,.8);
	font-size: 12px;
	text-align: center;
}

#footer{
	width: 440px;
	height: 180px;
	margin-left: 100px;
	position: absolute;
	top: calc(100vh + 75px);
}
#contacts{
	width: 220px;
	float: left;
}
#contacts h2{
	font-size: 18px;
	color: rgba(0,0,0,.9);
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 50px;
}
#contacts p{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.8);
	line-height: 25px;
}

#social{
	width: 200px;
	margin-left:20px;
	float: left;
}
#socialL, #socialR{
	width: 100px;
	float: left;
}
#social h2{
	font-size: 18px;
	color: rgba(0,0,0,.9);
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 50px;
}
.socialA{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.5);
	line-height: 25px;
}
.socialA:hover{
	font-weight: 400;
	color: #2164f4;
	line-height: 25px;
}


@media screen and (max-height: 700px){
	#links{
		position: relative;
		top: 35px;
	}
	#footer{
	margin-left: 100px;
	position: relative;
	top: 100px;
	}
	body, #right{
		height: 955px;
	}
	#left{height: 700px;
	}

	#MainH1{
	margin: 175px auto 0 auto;}
}



@media screen and (max-width: 1290px){

	#footer{
	margin-left: 100px;
	position: relative;
	top: 100px;
	}
	body, #left, #right{
		height: 955px;
	}
	#MainH1{
	margin: 175px auto 0 auto;}

.content_section{
	width: 100%;
	margin: 0 auto;
}
#left, #right{
	width: 50%;
}


#topNav{
	width: 100vw;
	height: 90px;
	background: rgba(255,255,255,.95);
	position: fixed;
	z-index: 4;
}


#links{
	width: inherit;
	height: 100px;
		position: relative;
		top: 50px;
	margin: 0 auto;
}

#footer{
	width: 460px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

#contacts{
	width: calc(50%-20px);
	padding:0 10px 0 10px;
	float: left;
	display: inline-block;
}

#social{
	width: calc(50%-20px);
	padding:0 10px 0 10px;
	margin: 0;
	float: left;
	display: inline-block;
}

#socialL, #socialR{
	width: 50%;
	float: left;
}
}

@media screen and (max-width: 950px){

#links{
		position: relative;
		top: 35px;
	}

#footer{
	position: relative;
	top: 100px;
	width: 300px;
	height: 250px;
	margin: 0 auto;
}
body, #left, #right{
	height: 955px;
	background-size:  115%;
}

#MainH1{
	margin: 175px auto 0 auto;;
	width: 300px;
	font:38px "Open sans";
	text-align: center;
	color: rgba(0,0,0,.9);
}
#MainP{
	font-size:18px;
	width: 300px;
	margin: 25px auto 0 auto;
	color: rgba(0,0,0,.4);
	text-align:center;
	line-height: 30px;
}

#contacts{
	width: inherit;
	float: none;
	display: block;
	margin: 0 auto;
	padding: 0;
}


#contacts h2{
	text-align: center;
	margin-bottom: 25px;
}
#contacts p{
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	color: rgba(0,0,0,.8);
	line-height: 25px;
}


#social{
	width: inherit;
	margin: 0 auto;
	float: none;
	display: block;
	padding: 0;
}

#socialL, #socialR{
	width: 50%;
	float: left;
	display: block;
	text-align: center;
}
#socialL br, #socialR br{
	visibility: hidden;
}
#social h2{
	visibility: hidden;
	margin: 0 0 10px 0;
}
.socialA{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,.5);
	line-height: 25px;
}

#production{
	width: 185px;
	margin: 35px auto 30px auto;
}
#production figure{
	width: 70px;
	margin: 0 10px;
	display: inline-block;
}
}


@media screen and (max-width: 710px){

#topNav{
	width: inherit;
	height: 50px;
	position: fixed;
	bottom: 0;
	z-index: 4;
}

#topNav::before{
	content:'';
	width: 100%;
	position: absolute;
	top: -1px;
	height: 1px;
	background: rgba(0,0,0,.08);
}
#topNavBlock{
width: 265px;
height: 34px;
float: none;
margin: 0 auto 0 auto;
}
#topNavBlock:hover .topNavA:not(:hover){
color: rgba(0,0,0,.4);
transition: .2s;
}
.topNavA{
display: inline-block;
margin: 0 10px 0 0;
text-align: center;
width: 55px;
font:14px "Open sans";
font-weight: 400;
text-decoration: none;
color: rgba(0,0,0,.7);
transition: .2s;
padding:15px 0 15px 0;
}
.topNavA:last-child{
	margin-right: 0;
}
.topNavA:hover{
	color: rgba(0,0,0,1);
}
.navActive::before{
	top: 40px;
}

#logoLeft{
	display: block;
	width: 0;
	height: 0;
	float: left;
	margin:0;
	background: none;
	visibility: none;
}
.content_section::before{
	content: '';
	display: block;
	width: 100%;
	height: 120px;
	position: absolute;
	top: -30px;
	margin:0 auto;
	z-index: 2;
	background: url(img/index/logofff.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#left{

	display: block;
	height: 400px;
	width: 100%;
	float: none;
	position: fixed;
	top: 0;
	z-index: 1;
	background: url(http://s009.radikal.ru/i310/1709/e3/ec978d671a26.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#devider_left{
	display: none;

}
#picture_left{
	display: none;
}


#right{
	display: block;
	background: #fff;
	height: inherit;
	position: absolute;
	top:400px;
	z-index: 3;
	width: 100%;
}
#MainH1{
	margin: 10px auto 0 auto;
	width: calc(100% - 40px);
	height: inherit;
}
#MainP{
	width: calc(100% - 80px);
	margin: 25px auto 0 auto;
}

#footer{
	width: 465px;
	height: 200px;
}
#contacts{
	display: inline-block;
	margin: 0;
	width: 205px;
	float: left;
}
#social{
	width: 260px;
	height: 120px;
	display: inline-block;
	margin: 0;
}

#production{
	width: 375px;
}
}


@media screen and (max-width: 505px){
	#footer{
		width: 100%;
		height: 290px;
	}
	#contacts, #social{
		display: block;
		float: none;
		margin: 0 auto;
	}

#production{
	width: 185px;
}
}

@media screen and (max-height: 665px) and (max-width: 710px){
#footer{background: #fff; display: inline-block;
width: inherit;}

#footer::before{
content: '';
display: inline-block;
float: left;
background: #fff;
height: 120px;
width: calc(50vw - 240px);
}
#left{height: 60vh;}
#right{top: 60vh;}
}
@media screen and (max-height: 210px) and (max-width: 710px){
#footer{
padding-top: 70vh;
}
}
